[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
flask = "*"
flask-login = "*"
flask-mongoengine = "*"
google-auth = "*"
mongoengine = "*"
requests = "*"
cachecontrol = "*"
python-dotenv = "*"
pillow = "*"

[requires]
python_version = "3.9"
